[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
dramatiq = {extras = ["rabbitmq", "watch"]}
flask = "*"
sqlalchemy = "*"
"psycopg2" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
