[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

dramatiq = {extras = ["rabbitmq"]}
flask = "*"
sqlalchemy = "*"
"psycopg2" = "*"
gunicorn = "*"


[dev-packages]

pytest = "*"
